.container {
  position: relative;
  z-index: 1050;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
}

.spinner {
  width: 80px;
  aspect-ratio: 1/1;
  border: 8px solid #9a979b;
  border-top: 8px solid var(--color-aqua);
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}

.loadingText {
  color: white;
  font-size: 40px;
  font-weight: bold;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
