.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: white;
}

.title {
  font-size: 64px;
}

.subtitle {
  font-size: 32px;
}
