.videoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 20px 0px 30px;
  box-shadow: 0px 2px 10px var(--color-peach);
  border-radius: 30px;
  background: var(--bg-dark);
}

.title {
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--color-peach);
}

.videoFrame {
  border: none;
  border-radius: 20px;
  box-shadow: var(--card-shadow);
}
